# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/

# Envs
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# Data / artifacts
data/
artifacts/
models/
outputs/

# OS
.DS_Store
Thumbs.db
